#page-wrapper
  .container-fluid
    / Page Heading
    .row
      .col-lg-12
        %h1.page-header
          Dashboard
          %small Statistics Overview
        %ol.breadcrumb
          %li.active
            %i.fa.fa-dashboard
            Dashboard
    / /.row
    .row
      .col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                %i.fa.fa-link.fa-5x
              .col-xs-9.text-right
                .huge
                  = @urls_count
                  %div Urls
          %a{href: urls_dashboard_path}
            .panel-footer
              %span.pull-left View Details
              %span.pull-right
                %i.fa.fa-arrow-circle-right
              .clearfix
      .col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                %i.fa.fa-bar-chart.fa-5x
              .col-xs-9.text-right
                .huge
                  = @hits_count
                  %div Hits
          %a{href: hits_dashboard_path}
            .panel-footer
              %span.pull-left View Details
              %span.pull-right
                %i.fa.fa-arrow-circle-right
              .clearfix
